# Emacs temp files
*~

# Database
db.sqlite3

# Migration files
eloblog/migrations/

# Static files
static

# Media files
media

# Settings file (private part)
settings.ini

# From internet
__pycache__/
*.py[cod]
