{% extends "blog/base.html" %}

{% load staticfiles %}


{% block head %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static "img/about60.jpg" %}')">
        <div class="container">
	  <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                      <h1>Обо мне</h1>
		      <!--
                      <hr class="small">
                      <span class="subheading"></span>
		      -->
                    </div>
                </div>	  
          </div>
        </div>
    </header>
{% endblock %}

{% block content %}

<h2 class="section-heading">Это я!</h2>
<img class="img-responsive" src="{% static "img/me.jpg" %}"alt="">
<p>Родился и вырос в маленьком горнодобывающем городке на Кольском полуострове. Женат, характер нордический (не совсем)..</p>
<a href="https://ru.wikipedia.org/wiki/%D0%9E%D0%BB%D0%B5%D0%BD%D0%B5%D0%B3%D0%BE%D1%80%D1%81%D0%BA"><img class="img-responsive" src="{% static "img/olen.jpg" %}"alt=""></a>
<p>В 2013 году заочно окончил Питерский ЛЭТИ по специальности "Вычислительные машины, комплексы, системы и сети". Работал сисадмином и программистом на разных предприятиях. Люблю Linux, программирую немножко на C++, Bash и Python (кстати ради целей поглядеть на Django этот сайт и сделан). Вобщем энтузиаст.</p>

{% endblock %}		      
