{% extends "base.html" %}

{% load staticfiles %}

{% block title %}

    <div class="site-heading">
        <h1>Мишкин блог</h1>
        <hr class="small">
        <span class="subheading">Тут я пишу обо всём: IT, котики, жызь...</span>
    </div>

{% endblock %}

{% block content %}
    
    {% if latest_posts %}

        {% for post in latest_posts %}
    
        <div class="post-preview">
            <a href="{% url 'views.post' post.id %}">
                <h2 class="post-title">{{ post.title }}</h2>
                <h3 class="post-subtitle">{{ post.text|truncatewords:200|safe }}</h3>
            </a>
            <p class="post-meta">Запощщено {{ post.cdate }}</p>
        </div>
        <hr>

        {% endfor %}

    {% else %}

	<div class="post-preview">
            <h2 class="post-title">Ещё нет ни одного, даже маааленького поста...</h2>
        </div>
        <hr>

    {% endif %}

{% endblock %}	

{% block pagerlist %}

    {% if hasNext %}
        <li class="next">
        <a href="/page/2">Туда &rarr;</a>
        </li>
    {% endif %}

{% endblock %}
    
