{% extends "base.html" %}

{% load staticfiles %}

{% block title %}

    <div class="site-heading">
        <h1>Папкин блог</h1>
        <hr class="small">
        <span class="subheading">Тут я пишу обо всём: IT, котики, жызь...</span>
    </div>

{% endblock %}

{% block content %}
    
    {% for post in postlist %}
    
        <div class="post-preview">
            <a href="{% url 'views.post' post.id %}">
                <h2 class="post-title">{{ post.title }}</h2>
                <h3 class="post-subtitle">{{ post.text|truncatewords:200|safe }}</h3>
            </a>
            <p class="post-meta">Запощщено {{ post.cdate }}</p>
        </div>
        <hr>

    {% endfor %}

{% endblock %}	

{% block pagerlist %}

    {% if postlist.has_previous %}
        <li class="previous">
        <a href="{% url 'views.page' postlist.previous_page_number %}">&larr; Сюда</a>
        </li>
    {% endif %}
	
    {% if postlist.has_next %}
	<li class="next">
        <a href="{% url 'views.page' postlist.next_page_number %}">Туда &rarr;</a>
        </li>
    {% endif %}   	

{% endblock %}
    
